* {
    box-sizing: border-box;
}

#some-elements {
    --color-primary: rgb(56, 95, 100);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px dotted gray;
    padding: 15px;
    margin: 15px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}

show-more-info {
    border-radius: 10px;
}

.show-modal__button {
    position: relative;
    top: 15px;
    left: 15px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}